<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gas.Properties.Settings.GasConnectionString" connectionString="Data Source=ThienVNSE63146\SQLExpress;Initial Catalog=Gas;User ID=sa;Password=12"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>